body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.button:hover {
    opacity: .9;
}

.drop-area {
    display: flex;
    height: 7rem;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    border: 2px solid #85b7e2;
    border-radius: 5px;
    font-size: 3rem;
    color: #85b7e2;
    padding: 0 9rem;
    font-family: Raleway, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    
}

.file-name {
    text-overflow: ellipsis;
    overflow: hidden;
}

.dragged {
    box-shadow: inset 0 0 10px #4992d3;
}

.form {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-bottom: 1rem;
    display: flex;
}

.button {
    display: block;
    padding: 5px 12px;
    background: #4992d3;
    border: 1px solid transparent;
    border-radius: 3px;
    line-height: 1.6;
    width: auto;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}